body{
    margin-left: 50px;
}

h3{
    text-align: center;
   
}

form{
   width: 300px;
    position: relative;
    top: 50px;
    left: 400px;
}

.inner{
    margin-bottom: 10px;
    
}

.btn{

    left: 100px;
}

textarea{
    width: 200px;
}

.card-body{
    position: relative;
    left: 300px;
}